[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.send-bubble
{
position: relative;
height: auto;
padding: 10px;
background: #D9DCC4;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #3A8D27 solid 2px;
}

.send-bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 8px 0 8px 9px;
border-color: transparent #A8A990;
display: block;
width: 0;
z-index: 1;
margin-top: -8px;
right: -9px;
top: 60%;
}

.send-bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 9px 0 9px 10px;
border-color: transparent #3A8D27;
display: block;
width: 0;
z-index: 0;
margin-top: -9px;
right: -12px;
top: 60%;
}

.send-bubble textarea {
  position: inherit;
  width: inherit;
  height: inherit;
  background: inherit;
  
  margin: 0;
  padding: 0;
  
  border: none;
  resize: none;
}

.right-bubble {
position: relative;
height: auto;
padding: 10px;
background: #D9DCC4;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #000427 solid 2px;
margin-bottom: 2em;
}

.right-bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 8px 0 8px 9px;
border-color: transparent #D9DCC4;
display: block;
width: 0;
z-index: 1;
margin-top: -8px;
right: -9px;
top: 66%;
}

.right-bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 9px 0 9px 10px;
border-color: transparent #000000;
display: block;
width: 0;
z-index: 0;
margin-top: -9px;
right: -12px;
top: 66%;
}

.left-bubble{
position: relative;
height: auto;
padding: 10px;
background: #D9DCC4;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #C76427 solid 2px;
margin-bottom: 2em;
}

.left-bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 8px 9px 8px 0;
border-color: transparent #D9DCC4;
display: block;
width: 0;
z-index: 1;
margin-top: -8px;
left: -9px;
top: 66%;
}

.left-bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 9px 10px 9px 0;
border-color: transparent #C76427;
display: block;
width: 0;
z-index: 0;
margin-top: -9px;
left: -12px;
top: 66%;
}

.row.extra-bottom-padding{
   margin-bottom: 5rem;
}

.statusmsg {
    -webkit-animation: fadeinout 3s linear forwards;
    animation: fadeinout 2s linear forwards;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

.header{
    background-size: cover;
    background-image: url(../img/header-bg.jpg);
    margin-bottom: 0em;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #EEEEEE;
    text-align: center;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {

    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}