<navbar log="true"></navbar>
<div class="container-fluid">
    <div class="row col-sm-12">
        <div class='col-sm-3'>
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h4 class="pull-left">Turniere</h4>
                    <button type="button" class="btn btn-success btn-small pull-right" ng-click="showNewCompView()">
                        Erstellen
                    </button>
                </div>
                <div class="panel panel-body">
                    <div class="col-sm-12 list-group">
                        <a href="" ng-click="showCompetition(comp.id)" ng-repeat="comp in comps | orderBy : comp.date"
                           class="list-group-item list-group-item-default text-center">
                            <span class="glyphicon glyphicon-exclamation-sign" ng-show="!comp.done"></span>
                            <span class="glyphicon glyphicon-ok-sign" ng-show="comp.done"></span>

                            <h5>{{comp.name}}<br><small>{{comp.date|date}}</small></h5>
                            <span class="glyphicon glyphicon-user" ng-show="comp.own"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class='col-sm-9' >
            <div>
                <div class="panel panel-primary" ng-if="createNewCompetition">
                    <div class="panel panel-heading">
                        <h3 class="panel-title">Erstelle ein neues Turnier</h3>
                    </div>
                    <div class="panel panel-body">
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-3">
                                <b>Turniername</b>
                            </div>
                            <p class="input-group col-sm-4">

                                <input ng-model="newCompetition.name" class="col-sm-3 form-control">
                            </p>
                            <hr class="col-sm-6 col-sm-offset-3">
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-3" >
                                <b>Datum</b>
                            </div>
                            <p class="input-group col-sm-4">
                                <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="newCompetition.date" is-open="datepicker.opened" ng-required="true" close-text="Abbrechen" />
                                <span class="input-group-btn">
								<button type="button" class="btn btn-primary" ng-click="openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
                            </p>
                            <hr class="col-sm-6 col-sm-offset-3">
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-3">
                                <b>Ort</b>
                            </div>
                            <p class="input-group col-sm-4">
                                <input ng-model="newCompetition.place" class="col-sm-3 form-control">
                            </p>
                            <hr class="col-sm-6 col-sm-offset-3">
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-3">
                                <b>Beschreibung</b>
                            </div>
                            <p class="input-group col-sm-4">
                                <textarea ng-model="newCompetition.description" class="col-sm-3 form-control"></textarea>
                            </p>
                        </div>
                        <br><br>
                        <div class="pull-right">
                            <label>
                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                      title="Ein eigenes Turnier hat zusätzliche Features aktiviert (z.B.ToDo-Liste)">
                                </span>
                                Eigenes Turnier:
                                <input type="checkbox" name="own" ng-model="newCompetition.own">
                            </label>
                            <button class="btn btn-success" type="button" ng-click="createCompetition()">Erstellen</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--view single competition-->
            <div class="panel panel-primary" ng-if="!createNewCompetition && currentCompetition!=={}">
                <div class="panel-heading clearfix">
                    <h4 class="pull-left">{{currentCompetition.name}}</h4>
                    <button type="button" class="pull-right btn btn-warning" ng-show="!currentCompetition.done" ng-click="writeReport()">Bericht erstellen</button>
                </div>
                <div class="panel-body text-center">
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-3">
                            <b>Turniername</b>
                        </div>
                        <p class="input-group col-sm-4">
                            <input ng-model="currentCompetition.name" class="form-control col-sm-3" ng-disabled="!editComp">
                        </p>
                        <hr class="col-sm-6 col-sm-offset-3">
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-3" >
                            <b>Datum</b>
                        </div>
                        <p class="input-group col-sm-4">
                            <input type="text" class="form-control" ng-disabled="!editComp" uib-datepicker-popup="{{dateFormat}}"
                                   ng-model="currentCompetition.date" is-open="datepicker.opened" ng-required="true"
                                   close-text="Abbrechen" current-text="Heute" clear-text="Reset" />
                            <span class="input-group-btn" ng-show="editComp">
								<button type="button" ng-show="editComp" class="btn btn-primary" ng-click="openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
                        </p>
                        <hr class="col-sm-6 col-sm-offset-3">
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-3">
                            <b>Ort</b>
                        </div>
                        <p class="input-group col-sm-4">
                            <input ng-model="currentCompetition.place" class="form-control col-sm-3" ng-disabled="!editComp">
                        </p>
                        <hr class="col-sm-6 col-sm-offset-3">
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-3">
                            <b>Beschreibung</b>
                        </div>
                        <p class="input-group col-sm-4">
                            <textarea ng-model="currentCompetition.description" class="form-control col-sm-3" ng-disabled="!editComp"></textarea>
                        </p>
                        <hr class="col-sm-6 col-sm-offset-3">
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-3">
                            <b>Teilnehmer</b>
                        </div>
                        <div  class="col-sm-4">
                            <div class="alert-dismissable" ng-show="currentCompetition.members.length===0">
                                Es hat sich noch niemand eingetragen!
                            </div>

                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="member in currentCompetition.members track by $index">
                                    <a href="#/profile?user={{member}}">{{member}}</a>
                                </li>
                            </ul>

                        </div>
                        <hr class="col-sm-6 col-sm-offset-3">
                    </div>
                    <br><br>
                    <div class="pull-right">
                        <label>
                            <span class="glyphicon glyphicon-question-sign" data-toggle="too                                   ltip"
                               title="Ein eigenes Turnier hat zusätzliche Features aktiviert (z.B.ToDo-Liste)">
                            </span>
                            Eigenes Turnier:
                            <input type="checkbox" name="own" ng-model="currentCompetition.own" ng-disabled="!editComp">
                        </label>
                        <button class="btn btn-primary" type="button" ng-show="!editComp" ng-click="editCompetition()">Bearbeiten</button>
                        <button class="btn btn-warning" type="button" ng-show="editComp" ng-click="saveCompetition()">Speichern</button>
                        <button  class="btn btn-success" type="button" ng-if="!alreadyIn()" ng-click="addMember()">Teilnehmen</button>
                        <button  class="btn btn-warning" type="button" ng-if="alreadyIn()" ng-click="removeMember()">Doch nicht</button>
                    </div>

                    <div class="row">
                        <!--Competition Comments-->
                        <hr style="margin-top:4em">
                        <div class="media col-sm-offset-3 col-sm-8" ng-repeat="comment in currentCompetition.comments">
                            <div class="media-left">
                                <a href="#/profile?user="+{{comment.username}}>
                                    <img ng-src="img/uploads/{{userpics[comment.username]}}" class="media-object img-circle" style="width:60px;height: 60px">
                                </a>
                            </div>
                            <div class="media-body text-left">
                                <h4 class="media-heading">
                                    <a href="#/profile?user="+{{comment.username}}>
                                        <b>{{comment.username}}</b>
                                    </a>
                                </h4>
                                <p>{{comment.message}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-3" style="margin-top:2em">
                                <textarea class="col-sm-8" ng-model="model.message"></textarea>
                                <button type="button" style="height:100%;" class="col-sm-1 btn btn-success btn-lg" ng-click="newComment()">
              <span class="pull-right glyphicon glyphicon-triangle-right"><a></a>
              </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="report.html">
    <div class="modal-header clearfix">
        <h3 class="modal-title pull-left" id="modal-title">Bericht für {{$ctrl.competition.name}}
            <small>am {{$ctrl.competition.date|date:'dd.MM.yyyy'}}</small>
        </h3>
        <button class="btn btn-success pull-right" ng-click="$ctrl.useTemplate()">Vorlage benutzen</button>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="form-group">
            <input ng-model="$ctrl.report.heading" class="form-control" placeholder="Überschrift">
            <textarea class="form-control" rows="8" id="comment"
                      placeholder="Bericht - Hinweis: Falls dir nichts einfällt, benutze doch einfach die Vorlage rechts oben"
                      ng-model="$ctrl.report.content"></textarea>
        </div>
        <div flow-init="{target: '/upload'}"
             flow-file-added="$file.uniqueIdentifier = 'comp-{{$ctrl.competition.name}}'"
             flow-files-submitted="$flow.upload()"
             flow-file-success="$file.msg = $message">

            <span class="btn" flow-btn class="btn btn-success">Mannschaftsfoto</span>

            <img flow-img="$flow.files[0]" width="10%" height="10%"/>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="$ctrl.ok()">Speichern</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Abbrechen</button>
    </div>
</script>



