<navbar log="false"></navbar>
<div class="col-sm-4 col-sm-offset-4">
  <h1>Login</h1>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" ng-submit="loginInToSite()">
    <div class="form-group">
      <input type="text" class="form-control" name="username" placeholder="Name"
             ng-model="login.username" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Passwort"
               name="password" ng-model="login.password" required>
      </div>
      <div>
          <button type="submit" class="btn btn-default" ng-show="!loading">Login</button>
          <button type="submit" class="btn btn-default" ng-show="loading">
              <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Lade...
          </button>
      </div>
  </form>
</div>
