<div>
    <div class="jumbotron header">
        <h1 style="margin-left: 2em; color: grey">Team Volleyball</h1>
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".mynavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#blub">Team Volleyball</a>
            </div>

            <ul class="collapse navbar-collapse nav navbar-nav mynavbar" >
                <li><a href="#us">Über uns</a></li>
                <li><a href="#comps"> Turniere</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right collapse navbar-collapse mynavbar">
                <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div id="us">
            <div class="container">
                <div class="section-title">
                    <h2>Über uns</h2>
                    <hr>
                </div>
                <div class="space"></div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Wer wir sind</h4>
                        <p>Wir sind ein jung(gebliebenes) und dynamisches Volleyballteam aus Dresden und Umgebung.
                            Wir spielen - sagen wir - verschärftes Volkssportvolleyball.
                            Punktspielbetrieb machen wir nicht mit, aber wir versuchen,
                            auf dem einen oder anderen Turnier den Gewinner zu stellen.</p>
                    </div>
                    <div class="col-md-4">
                        <h4>Trainingszeiten</h4>
                        <p>Wir trainieren in der Sporthalle des Lößnitz-Gymnasiums in der Winzerstadt Radebeul (fast) immer
                            montags, ab 20:30 Uhr.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="space"></div>

        <div id="comps" ng-show="reports.length>0">
            <div class="container">
                <div class="section-title">
                    <h2>Turniere</h2>
                    <hr>
                </div>
                <div class="row">
                    <div ng-repeat="comp in reports track by $index">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">{{comp[0]}}</h4>
                                <p>{{comp[1]}}</p>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>