<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Team Volleyball</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicons
        ================================================== -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

    <!-- Stylesheet
        ================================================== -->
    <link rel="stylesheet" type="text/css"  href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/prettyPhoto.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="index.html">Team Volleyball </a> </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href="#home" class="page-scroll">Startseite</a></li>
                <li><a ng-href="#about-section" class="page-scroll">Über uns</a></li>
                <li><a ng-href="#tuniere-section" class="page-scroll">Tuniere</a></li>
                <li><a ng-href="#/login" class="page-scroll">Interner Bereich</a></li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header class="text-center" name="home">
    <div class="intro-text">
        <h1><span class="color">Team Volleyball</span></h1>
        <div class="clearfix"></div>
    </div>
</header>
<!-- About Section -->
<div id="about-section">
    <div class="container">
        <div class="section-title">
            <h2>Über uns</h2>
            <hr>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-6">
                <h4>Wer wir sind</h4>
                <p>Wir sind ein jung(gebliebenes) und dynamisches Volleyballteam aus Dresden und Umgebung.
                    Wir spielen - sagen wir - verschärftes Volkssportvolleyball.
                    Punktspielbetrieb machen wir nicht mit, aber wir versuchen,
                    auf dem einen oder anderen Turnier den Gewinner zu stellen.</p>
            </div>
            <div class="col-md-4">
                <h4>Trainingszeiten</h4>
                <p>Wir trainieren in der Sporthalle des Lößnitz-Gymnasiums in der Winzerstadt Radebeul (fast) immer
                    montags, ab 20:30 Uhr.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="space"></div>

<!-- tuniere Section -->
<div id="tuniere-section">
    <div class="container">
        <div class="section-title">
            <h2>Tuniere</h2>
            <hr>
        </div>
        <div class="space"></div>
        <div class="row">

        </div>
    </div>
</div>

<!-- Team Section -->

<div id="footer">
    <div class="container">
        <p>Copyright &copy; Team Volleyball Radebeul. Designed by Benjamin Schimke</p>
    </div>
</div>
</body>
</html>